body {
  background: url(pexels-breakingpic-3305.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  background-color: rgb(171, 168, 168, 0.6);
  border-radius: 0 30px 30px 0;
}
